{{#each dataCart}}
<div class="card" style="width: 18rem;  margin: 10px;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Producto: {{this.title}}</li>
        <li class="list-group-item">Price: {{this.price}}</li>
        <li class="list-group-item">Cantidad: {{this.quantity}}</li>
    </ul>
</div>
{{/each}}

<button onclick="buy()" class="btn btn-success">Comprar</button>

<script>
    function buy() {
        const currentUrl = window.location.href;
        const urlParts = currentUrl.split("/");
        const id = urlParts.slice(-1)[0]
        window.location.href = `http://localhost:8080/cartsMongo/finishBuy/${id}`
    }
</script>