<h1>Bienvenidos al coderChat</h1>
<div>
    {{#if user.isUser}}
    <input type="text" id="chatBox">
    <p id="messageLogs"></p>
    {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.index.js"></script>