<head>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>

<body>
    <div>
        <h1>El total de la Compra es</h1>
        <p class="price">{{totalPrice}}</p>
        <button id="checkout-btn">Comprar</button>
        <div id="wallet_container"></div>
    </div>
</body>

<script src="/js/finishBuy.js"></script>