<h1>Crea una nueva contraseña</h1>
<form action="/forget-password/{{this.user}}" method="post">
    Nueva contraseña: <input type="text" name="newPassword"><br>
    <button type="submit">Cambiar password</button>
</form>